
@{
    ViewBag.Title = "Index";
}

<h2> Dashboard Admin</h2>

<a href="@Url.Action("Index","Categorias", new { area="Admin" }, null)" class="btn btn-success">Ir para Categorias</a>

<a href="@Url.Action("Index","Subcategorias", new { area="Admin" }, null)" class="btn btn-primary">Ir para Categorias</a>

