
@{
    ViewBag.Title = "Editar";
}

<div ng-controller="categoriaController as vm" ng-init="vm.pesquisarPorId()">

    <h2>Editar Categoria</h2>
    <form name="frmEditar">

        <div class="form-group">
            <label>Descrição</label>
            <input type="text" class="form-control" placeholder="Descrição da categoria"
                   ng-model="vm.categoria.Descricao" ng-required="true">
            <small class="form-text text-muted">Informe uma categoria legal para a categoria.</small>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <input type="text" class="form-control" placeholder="Slug da categoria"
                   ng-model="vm.categoria.Slug" ng-required="true">
            <small class="form-text text-muted">Separe as palavras por traços.</small>
        </div>
        <button class="btn btn-success"
                ng-click="vm.editar(vm.categoria)"
                ng-disabled="frmEditar.$invalid">
            Salvar
        </button>

        <a href="@Url.Action("Index","Categorias", new { @area="Admin" },null)">Voltar para Categorias</a>
    </form>

</div>
