
@{
    ViewBag.Title = "_FormCampos";
}

<h3>Campos da subcategoria</h3>
<form name="frmIncluirSubCateg">
    <div class="row">        
        <div class="col-md-3">
            <small class="form-text text-muted">Descrição do Campo</small>
            <input type="text" class="form-control"  placeholder="Descrição do campo"/>
        </div>
        <div class="col-md-3">
            <small class="form-text text-muted">Tipo de Campo</small>
            <select class="form-control" 
                    ng-model="tpCampoSelecionado"
                    ng-required="true">
                <option disabled>Selecione...</option>
                <option value="{{ tpCampo.Num }}"
                        ng-repeat="tpCampo in vm.listaTipoDeCampos track by tpCampo.Num">
                        {{ tpCampo.Display }}
                </option>
            </select>
            <div ng-show="tpCampoSelecionado == 1 || tpCampoSelecionado == 2">
                @Html.Partial("../Lista/_Form")
                <br />
                @Html.Partial("../Lista/_Lista")
            </div>
        </div>

        <div class="col-md-3">
            <small class="form-text text-muted"></small>
            <br />
            <button class="btn btn-info">Incluir Campo</button>
        </div>
    </div>
    
</form>

