
@{
    ViewBag.Title = "_ListaDeCampos";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ordem</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>

    </tbody>

</table>

