<div>    
    <h4 style="margin-left:0.8em;">Incluir Opções Para o Campo</h4>
    <div class="form-group">
        <label>Descrição da opção</label>
        <input type="text" class="form-control" placeholder="Descrição da opção"
               ng-model="vm.opcao.Descricao" />
        <small class="form-text text-muted">Descrição da opção</small>   
        <br />
        <a class="btn btn-info" ng-click="vm.incluirOpcao(vm.opcao.Descricao)"
                ng-disabled="opcao.Descricao.length === 0">+ Incluir Opção</a>
        
    </div>
   
    <div>@Html.Partial("../Lista/_Lista")</div>
</div>
