<div class="row">
    <br />
    <h5 style="margin-left:0.8em;">Incluir Opções Para o Campo</h5>
    <div class="col-md-10">
        <small class="form-text text-muted">Descrição da opção</small>
        <input type="text" class="form-control" placeholder="Descrição da opção" />
    </div>
    <div class="col-md-2">
        <small class="form-text text-muted"></small>
        <br />
        <button class="btn btn-info">+</button>
    </div>
</div>
