<div class="row">
    <div class="col-lg-12">
        <h5 style="margin-left:0.8em;">Lista de Opções do Campo</h5>
        <ul>
            <li><strong>Descrição</strong></li>
        </ul>
    </div>
</div>