<div class="jumbotron">
    <h1>Aplicação Teste - Gestor de Categorias</h1>
    <h3>Este aplicaçã tem por objetivo gerenciar categorias, subcategorias e seus devidos campos para que os mesmos possam ser renderizados dinamicamente.</h3>
    <br />
    
    <h3>Leandro da Silva Alves</h3>
    <p><strong><i>Analista Desenvolvedor .NET</i></strong></p>
    <p class="lead">leandro.silva.alves86@gmail.com</p>
    <p><strong>Fone:</strong> (61) 9 9107-7157</p>
</div>
