
@{
    ViewBag.Title = "Incluir";
}

<div ng-controller="subCategoriaController as vm" ng-init="vm.IniciarFormularioInclusao()">

    <h2>Incluir SubCategoria</h2>
    <form name="frmIncluir">

        <div class="form-group">
            <label>Categoria</label>
            <select class="form-control"
                    ng-model="subcategoria.CategoriaId" ng-required="true">
                <option value="" disabled>Selecione...</option>
                <option value="{{ categoria.Id}}" 
                        ng-repeat="categoria in vm.listaCategorias track by categoria.Id">
                    {{ categoria.Descricao }}
                </option>
            </select>
            <small class="form-text text-muted">Selecione uma categoria.</small>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <input type="text" class="form-control" placeholder="Descrição da subcategoria"
                   ng-model="subcategoria.Descricao" ng-required="true">
            <small class="form-text text-muted">Informe uma categoria legal para a subcategoria.</small>
        </div>
        <div class="form-group">
            <label>Slug</label>
            <input type="text" class="form-control" placeholder="Slug da subcategoria"
                   ng-model="subcategoria.Slug" ng-required="true">
            <small class="form-text text-muted">Separe as palavras por traços.</small>
        </div>
        <div>
            @Html.Partial("../Campos/_FormCampos")
        </div>

        <br />
        <button class="btn btn-success btn-lg"
                ng-click="vm.incluir(subcategoria)"
                ng-disabled="frmIncluir.$invalid">
            Salvar
        </button>

        <a href="@Url.Action("Index","SubCategorias", new { @area="Admin" },null)">Voltar para SubCategorias</a>
    </form>

    <br />
    <br />
    <br />
    @Html.Partial("../Campos/_ListaDeCampos")

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
